*{
  border-width: 1px;
  border-style: solid;
}
.App {
  text-align: center;
  margin: 0;

}
h4{
  margin: 0
}
p{
  margin: 0
}
.reviews{
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-card{
  width: 90vw;
  height: 200px;
  margin: 1%;
}
.review-title{
  justify-content: space-between;
  width: 90%;
  margin: 0;
  height: 20%;
  display: flex;
}
.review-card-info{
  display: grid;
  grid-template-columns: 70fr;
}
.review-card-img{
  width:40%;
  /* max-height: 60%; */
}