* {
  /* border-width: 1px;
  border-style: solid; */
}
.header {
  width: 100%;
}
.header-title {
  justify-self: flex-start;
  margin: 5px;
  align-self: center;
}
.nav-bar {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  margin: 0;
  background-color: red;
}
.nav-button {
  justify-content: center;
}
.nav-button {
  margin: 5px;
  border: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  height: 30px;
  width: 100px;
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}
.reviews {
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.review-card {
  background-color: rgb(235, 235, 235);
  width: 90vw;
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
}
.review-card:hover {
  /* box-shadow: 5px 5px 10px rgb(87, 87, 87, 0.4); */
  animation: review-card;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes review-card {
  0% {
    width: 90vw;
  }
  100% {
    width: 91vw;
    box-shadow: 5px 5px 10px rgb(87, 87, 87, 0.4);
  }
}
.review-title {
  justify-content: space-between;
  width: 90%;
  margin: 0;
  height: 20%;
  display: flex;
}
.review-card-info {
  display: grid;
  grid-template-columns: 70fr;
}
.review-card-img {
  width: 40%;
}

.single-review {
  margin: 10px;
}
.author {
  font-size: 20px;
}
.category {
  color: rgb(64, 64, 64);
}
.review-body {
  margin: 10px;
}
.large-img {
  margin: 1%;
  max-width: 98%;
  max-height: fit-content;
}
.comment-title {
  margin-right: 10px;
}
.comment-author {
  color: rgb(64, 64, 64);
  font-size: 14px;
}
.comment-body {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* .comment-input {
  margin: 0;
  display: flex;
} */
.votes {
  font-size: 14px;
  margin-left: 5px;
}
.votes-button {
  height: 40px;
  width: 50px;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  margin: 5px;
  align-self: center;
}
