* {
  /* border-width: 1px;
  border-style: solid; */
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
}
.header-title {
  margin: 5px 5px 5px 10px;
  color: rgb(238, 238, 238);
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(238, 238, 238);
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  margin: 0;
  background-color: rgb(36, 36, 36);
}
.nav-buttons {
  /* border-radius: 1px;
  border-style: solid;
  border-color: white; */
}
.nav-button {
  margin-right: 20px;
  font-size: 12pt;
  color: rgb(238, 238, 238);
}
.user {
  margin-right: 20px;
  font-size: 12pt;
  color: rgb(191, 191, 191);
}
h4 {
  margin: 0;
}
p {
  margin: 0;
}
#sort-by {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
#sort-by-text {
  margin: 10px;
}
.reviews {
  margin: 1%;
}
.review-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.review-card {
  width: 500px;
  height: 190px;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
.review-title {
  z-index: 1;
  margin: 10px;
  color: rgb(36, 36, 36);
  pointer-events: none;
}
.review-card-info {
  color: rgb(36, 36, 36);
  margin: 10px;
  pointer-events: none;
  z-index: 1;
}

.review-card-img {
  z-index: 0;
  position: absolute;
  width: 100%;
  top: -10px;
  opacity: 50%;
}
.review-card-img:hover {
  animation: review-card-img;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes review-card-img {
  0% {
    top: -10px;
  }
  100% {
    top: -100px;
  }
}
.single-review-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-review {
  max-width: 1100px;
}
.single-review-title {
  margin: 10px;
}
.author {
  margin: 10px;
  font-size: 20px;
}
.category {
  margin: 10px;
  color: rgb(64, 64, 64);
}
.review-body {
  margin: 10px;
}
.image-container {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.large-img {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: auto;
  opacity: 75%;
}
.large-img:hover {
  animation: large-img;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes large-img {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -100px;
  }
}
.comment-title {
  margin: 10px;
}
.comment-author {
  color: rgb(64, 64, 64);
  font-size: 14px;
  margin: 10px;
}
.comment-body {
  font-size: 16px;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* .comment-input {
  margin: 0;
  display: flex;
} */
.votes-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.votes {
  font-size: 14px;
  margin: 10px;
}
.votes-button-up {
  border: 0;
  height: 30px;
  width: 50px;
  background-color: rgb(140, 255, 134);
  border-radius: 5px;
  margin: 10px;
  align-self: center;
}
.votes-button-down {
  border: 0;
  height: 30px;
  width: 50px;
  background-color: rgb(255, 134, 134);
  border-radius: 5px;
  margin: 10px;
  align-self: center;
}
